@using PagedList.Core.Mvc
@model DIA.Web.ViewModels.VMClaim
@{
    ViewData["Title"] = "Claim Listing";
}
 
@if (Model.ClaimPageData != null)
{
    <div>Current Page Number: @Model.ClaimPageData.PageNumber</div>
    <div>Page Size: @Model.ClaimPageData.PageSize</div>
    <div>Total Count: @Model.ClaimPageData.TotalItemCount</div>

    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" />

            </p>
        </div>
    </form>


    <ul>
        @foreach (var item in Model.ClaimPageData)
        {
            <li>@item.ClaimIDNumber</li>
        }
    </ul>
    <pager class="pager-container" list="@Model.ClaimPageData" options="@PagedListRenderOptions.TwitterBootstrapPager" asp-action="Index" asp-controller="Claim" />
}